.lead {
  margin-top: 90px;
  letter-spacing: 0;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  margin: 0;
}

.lead__title-break {
  display: block;
}

.lead__subtitle-break {
  display: block;
}

.lead__sub-title {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 32px 0 0 0;
}

.lead__image {
  background-color: rgba(0, 0, 0, 1);
  filter: grayscale(1);
  object-fit: cover;
  margin-top: 64px;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .lead__title {
    font-size: 75px;
    line-height: 1.05;
  }

  .lead__sub-title {
    margin: 25px 0 0 0;
  }

  .lead__image {
    margin-top: 30px;
  }
}

@media (max-width: 544px) {
  .lead {
    margin-top: 50px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__sub-title {
    margin: 16px 0 0 0;
    font-size: 16px;
    line-height: 1.25;
  }

  .lead__image {
    margin-top: 40px;
  }
}
